@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }

}


.listProduct .item img {
    display: inline-flex;
    width: 90%;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.listProduct .item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 15px;
    color: black;
}
.listProduct .item:hover {
    padding: 20px;
    border-radius: 2px;
    transition: 0.2s;
    color: #005d72;
}

.listProduct .item h2 {
    font-size: large;
    font-weight: 500;
}

.listProduct .item .price {
    letter-spacing: 1px;
    font-size: small;
}

.container {
    width: 2000px;
    max-width: 90vw;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.detail {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
    padding-bottom: 30px;
}

.detail .image img {
    width: 95%;
}

.detail .image {
    position: relative;
}

.detail .image::before {
    position: absolute;
    width: 400px;
    height: 400px;
    content: '';
    background-color: #e5e5e5;
    z-index: -1;

    border-radius: 190px 100px 170px 180px;
    left: calc(42% - 150px);
    top: 170px;
}
.detail .name {
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin:  0 0 10px 0;
    color: #000000;
}

.detail .price {
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
    color: black;
}

img.project-logo {
    max-width:50% !important;
}

h1.navbar-brand.d-none.d-lg-block.align-self-center.mb-3 {
    display: flex !important;
    justify-content: center;
}

a.h2.text-decoration-none.mb-0 {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: xx-large;
    padding-top: 150px;
    color: black;
}


nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
}
nav.sticky{
    padding: 15px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
    height: 100%;
    max-width: 1700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img {

    max-width: 8%;
}
nav .logo a{
    font-weight: 500;
    font-size: 35px;

}
nav.sticky .logo a{
    color: #fff;
}
.nav-content .nav-links{
    display: flex;
}
.nav-content .nav-links li{
    list-style: none;
    margin: 0 8px;
}
.nav-links li a{
    text-decoration: none;
    color: #0E2431;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    color: #005d72;
}
nav.sticky .nav-links li a{
    color: #fff;
    transition: all 0.4s ease;
}
nav.sticky .nav-links li a:hover{
    color: #005d72;
}
@media screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }

    .detail {
        grid-template-columns: 40% 1fr;
    }
}

@media screen and (max-width: 768px) {
    .detail .image::before {
        display: none;
    }
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }

    .detail {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .detail .img img {
        width: unset;
        height: 40vh;
    }

    .detail .name {
        font-size: x-large;
        margin: 0;
    }
}

@media screen and (max-width: 1640px) {
    .detail .image::before {
        top:50px;
        width: 300px;
        height: 300px;
        left: calc(48% - 150px);
    }

}
@media screen and (max-width: 1000px) {
    .detail .image::before {
        top:60px;
        width: 150px;
        height: 150px;
        left: calc(70% - 150px);
    }
    nav .logo img {
        max-width: 15% !important;
        min-width: 15%;
    }
}
@media screen and (max-width: 768px) {}
